$base_url : "/android_inflater/";
$main_padding : 1em;
$android_green : #A4C639;
$bootstrap_3_small_device_width : 768px;
$bootstrap_3_med_device_width : 992px;
$bootstrap_3_large_device_width : 1200px;

body{
	font-family: 'Helvetica Neue', Helvetica, 'Droid Sans', Arial, sans-serif;
	background-color: lighten($android_green, 45%);
	font-size: 16px;
}

h1{
	font-size: 3.157em;
}

main{
	margin: $main_padding;
}
.textareas{
	margin-bottom: 1em;
}
h1.android_inflater_title{
	font-family: 'Fredoka One', 'Arial Rounded MT Bold', Helvetica, 'Helvetica Neue', 'Droid Sans', Arial, sans-serif;
	margin-bottom: -.05em;
	display: inline-block;
}

p.instructions{
	font-size: .75em;
}
p.lead{
	font-size: 1em;
}
.options_control_group label{
	font-weight: normal;
}

.jumbotron{
	background-color: lighten($android_green, 10%);
	padding-left: $main_padding;
}
.logo{
	display : none;
}
.align_right{
	float: none;
	text-align:right;
}

.github_link{
	display: none;
}
textarea{
	font-family: Monaco, Consolas, Inconsolata, "Droid Sans Mono", Menlo, Courier, monospace;
	font-size: 1em;
	height: 30em;
	max-width: 100%;
	width: 100%;
	overflow: scroll;
	border: 1px solid black;
}
.label-inline{
	margin-right: .5em;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	background-color: lighten($android_green, 20%);
	color: lighten(black, 10%);
}

@media (min-width: $bootstrap_3_large_device_width) {
	.control_inline{
		display: inline-block;
		margin-right: 1em;
	}

}

@media (min-width: $bootstrap_3_small_device_width) {
	.align_right{
		float: right;
	}
	//jumbotron inner classes
	h1.android_inflater_title{
		font-size: 4.208em;
		margin-bottom: -.1em;
	}
	//so that img floats correctly
	.brand{
		width: 700px;
	}
	.logo{
		display: inline;
		background-repeat : no-repeat;
		background-image: image-url('#{$base_url}images/android_inflater_logo.png', false, false);
		background-size: 100%;
		width: 150px;
		height: 150px;
		float: right;
	}
	p.instructions{
		font-size: 1em;
	}
	p.lead{
		font-size: 1.333em;
	}
	.github_link{
		display: block;
	}

}
