/* line 8, ../sass/android_inflate.scss */
body {
  font-family: 'Helvetica Neue', Helvetica, 'Droid Sans', Arial, sans-serif;
  background-color: #f6f9eb;
  font-size: 16px;
}

/* line 14, ../sass/android_inflate.scss */
h1 {
  font-size: 3.157em;
}

/* line 18, ../sass/android_inflate.scss */
main {
  margin: 1em;
}

/* line 21, ../sass/android_inflate.scss */
.textareas {
  margin-bottom: 1em;
}

/* line 24, ../sass/android_inflate.scss */
h1.android_inflater_title {
  font-family: 'Fredoka One', 'Arial Rounded MT Bold', Helvetica, 'Helvetica Neue', 'Droid Sans', Arial, sans-serif;
  margin-bottom: -0.05em;
  display: inline-block;
}

/* line 30, ../sass/android_inflate.scss */
p.instructions {
  font-size: .75em;
}

/* line 33, ../sass/android_inflate.scss */
p.lead {
  font-size: 1em;
}

/* line 36, ../sass/android_inflate.scss */
.options_control_group label {
  font-weight: normal;
}

/* line 40, ../sass/android_inflate.scss */
.jumbotron {
  background-color: #b6d161;
  padding-left: 1em;
}

/* line 44, ../sass/android_inflate.scss */
.logo {
  display: none;
}

/* line 47, ../sass/android_inflate.scss */
.align_right {
  float: none;
  text-align: right;
}

/* line 52, ../sass/android_inflate.scss */
.github_link {
  display: none;
}

/* line 55, ../sass/android_inflate.scss */
textarea {
  font-family: Monaco, Consolas, Inconsolata, "Droid Sans Mono", Menlo, Courier, monospace;
  font-size: 1em;
  height: 30em;
  max-width: 100%;
  width: 100%;
  overflow: scroll;
  border: 1px solid black;
}

/* line 64, ../sass/android_inflate.scss */
.label-inline {
  margin-right: .5em;
}

/* line 70, ../sass/android_inflate.scss */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #c8dd88;
  color: #1a1a1a;
}

@media (min-width: 1200px) {
  /* line 76, ../sass/android_inflate.scss */
  .control_inline {
    display: inline-block;
    margin-right: 1em;
  }
}
@media (min-width: 768px) {
  /* line 84, ../sass/android_inflate.scss */
  .align_right {
    float: right;
  }

  /* line 88, ../sass/android_inflate.scss */
  h1.android_inflater_title {
    font-size: 4.208em;
    margin-bottom: -0.1em;
  }

  /* line 93, ../sass/android_inflate.scss */
  .brand {
    width: 700px;
  }

  /* line 96, ../sass/android_inflate.scss */
  .logo {
    display: inline;
    background-repeat: no-repeat;
    background-image: url(/android-inflater/images/android_inflater_logo.png);
    background-size: 100%;
    width: 150px;
    height: 150px;
    float: right;
  }

  /* line 105, ../sass/android_inflate.scss */
  p.instructions {
    font-size: 1em;
  }

  /* line 108, ../sass/android_inflate.scss */
  p.lead {
    font-size: 1.333em;
  }

  /* line 111, ../sass/android_inflate.scss */
  .github_link {
    display: block;
  }
}
