/* line 6, ../sass/android_inflate.scss */
body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
}

/* line 10, ../sass/android_inflate.scss */
header {
  text-align: center;
}

/* line 13, ../sass/android_inflate.scss */
h1 {
  font-size: 3.157em;
}

/* line 16, ../sass/android_inflate.scss */
form {
  text-align: left;
}

/* line 19, ../sass/android_inflate.scss */
textarea {
  font-family: Monaco, Consolas, Inconsolata, "Droid Sans Mono", Menlo, Courier, monospace;
  font-size: 1em;
  height: 30em;
  max-width: 100%;
  width: 100%;
  overflow: scroll;
  border: 1px solid black;
  display: inline-block;
  margin: 0;
}

/* line 30, ../sass/android_inflate.scss */
.textarea_container {
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* line 36, ../sass/android_inflate.scss */
form {
  margin: 0;
  padding: 0;
}

/* line 40, ../sass/android_inflate.scss */
.textareas {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 45, ../sass/android_inflate.scss */
.results_container {
  width: 59%;
  margin: 0;
  float: right;
}

/* line 50, ../sass/android_inflate.scss */
.input_container {
  width: 40%;
  margin: 0;
}

/* line 55, ../sass/android_inflate.scss */
label {
  display: block;
}

/* line 58, ../sass/android_inflate.scss */
.label-inline {
  display: inline-block;
}

/* line 62, ../sass/android_inflate.scss */
.controls {
  margin-right: 1em;
}

/* line 65, ../sass/android_inflate.scss */
main {
  margin: 0 auto;
  max-width: 82em;
  width: 98%;
  text-align: center;
}

/* line 71, ../sass/android_inflate.scss */
.button_group {
  text-align: right;
  margin-right: 0;
}

/* line 75, ../sass/android_inflate.scss */
.control-panel {
  margin-top: 1em;
}

@media only screen and (max-width: 82em) {
  /* line 80, ../sass/android_inflate.scss */
  body {
    background-color: green;
  }

  /* line 83, ../sass/android_inflate.scss */
  .textarea_container {
    display: block;
  }

  /* line 86, ../sass/android_inflate.scss */
  .input_container, .results_container {
    width: 100%;
    float: none;
  }

  /* line 90, ../sass/android_inflate.scss */
  div.checkbox, .button_group, div.radio-inline {
    display: block;
  }

  /* line 93, ../sass/android_inflate.scss */
  .button_group {
    margin: 1em 0 5em 0;
  }

  /* line 96, ../sass/android_inflate.scss */
  .controls {
    margin-left: 2em;
  }

  /* line 99, ../sass/android_inflate.scss */
  main {
    width: 95%;
    margin: 0 1em;
  }
}
